.menu_link { padding-bottom: 4px; padding-top: 1px;}
.mobile-services, .btn-navbar { display: none; }
#banner { margin: 0 auto; text-align: center;}
h1, #mobile-process-flow { text-align: center; }
.page-container, .nav-wrapper, .footer-area { border: 2px solid black; }
.featured-image { width: 100%; }
.nav-wrapper {border-bottom: 6px solid #8cc63f;}
.current-menu-item > a { padding-bottom: 6px; }
#mobile-contact-info {display: none;}